<!DOCTYPE html>
<html>

<head>
	<%- include ("../partials/header.ejs") %>
</head>

<body>
	<%- include ("../partials/nav.ejs") %>
	<div class="containerMain col-xs-12">
		<div class="error-fied">
			
		</div>
		test upload
		<div id="stream-container" class="col-xs-12">
			<% if (tweets.length > 0) { %>
			<% tweets.forEach( tweet => { %>
			<div class="tweet-container">
				
				<div class="tweet-img"><img src="<%= tweet.userimage %>" alt="twitter profilbild"></div>
				<div class="tweet-container-inner">
					<a href="/">
						<div class="tweet-name"><%= tweet.screen_name %></div>
						<div class="tweet-text"><%= tweet.text %></div>
						<div class="retweet-text"><%= tweet.retweet_text %></div>
						<div class="tweet-timestamp"><%= tweet.timestamp %> </div>
					</a>
				</div>
				<div class="tweet-checkbox <%= tweet.checkbox %>">
					<i class="fas fa-times"></i>
				</div>
			</div>
			<% }) %>
			<% } else { %>
			<div class="opsie_text">Tyvärr finns det inga tweets att visa just nu...</div>
			<% } %>
		</div>
	</div>
</body>
<%- include ("../partials/footer.ejs") %>

</html>